/* Globals */

/* - - Variables - -  */
:root {
  --herbs-circle-color: #e0d6e8;
  --nuts-circle-color: #bfe3a6;
  --sea-circle-color: #57d2ff;
  --honey-circle-color: #f1c93b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - - - - Container - - - - */

.container {
  width: 100vw;
  min-width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: antiquewhite;
  overflow: hidden;
}

.container::after {
  content: "";
  background-color: white;
  width: 100%;
  height: 35vh;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

/* - - - - Slider and Slides - - - - */

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* - - - - Circles - - - - */

#herbs-circle g path {
  fill: var(--herbs-circle-color);
}

#nuts-circle g path {
  fill: var(--nuts-circle-color);
}

#sea-circle g path {
  fill: var(--sea-circle-color);
}

#honey-circle g path {
  fill: var(--honey-circle-color);
}

#cookies-circle g path {
  fill: var(--nuts-circle-color);
}

.circle {
  width: 520px;
  height: 520px;
  border-radius: 120% 130% 125% 110%/130% 135% 110% 120%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

#circle-left,
#circle-middle,
#circle-right {
  position: fixed;
  left: 50%;
  top: 50%;
}

#circle-left {
  width: 80px;
  height: 80px;
  translate: -150% -400px;
}

#circle-middle {
  width: 100px;
  height: 100px;
  translate: -400px -140%;
}

#circle-right {
  width: 60px;
  height: 60px;
  translate: 350px -140%;
}

.text {
  width: 220px;
  z-index: 6;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.font {
  fill: black;
}

.text g text {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.473));
}

.slide__img {
  width: 580px;
  height: auto;
  z-index: 101;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  transition: all 0.2s ease-in-out;
  transition-property: scale stroke-width fill;
}

.bar__wrapper {
  width: 680px;
  height: 620px;
  position: absolute;
  left: 10%;
}

#bar {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  translate: -3% 10%;
}

/* - - - - Thumb Container - - - - */

.thumb-container {
  width: 640px;
  height: 640px;
  top: 10px;
  position: absolute;
  transform: rotate(-2deg);
  transform-origin: middle top;
}

.thumb {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: absolute;
  left: 24%;
  bottom: 12%;
  border-radius: 120% 130% 125% 110%/130% 135% 110% 120%;
}

.dot__parent {
  width: 500px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: scale 0.1s ease-in-out;
}
.dot__wrapper {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  z-index: 1000;
  display: grid;
  place-content: center;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
}

.dot__wrapper:hover {
  cursor: pointer;
}

#dot__wrapper__1 {
  bottom: 22px;
  left: 72px;
}
#dot__wrapper__2 {
  bottom: -31px;
  left: 191px;
}
#dot__wrapper__3 {
  bottom: -28px;
  left: 324px;
}
#dot__wrapper__4 {
  bottom: 30px;
  left: 436px;
}

#dot__wrapper__5 {
  bottom: 129px;
  left: 511px;
}

#dot__wrapper__6 {
  bottom: 265px;
  left: 538px;
}

.slider__slide__bar__container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.slide {
  width: 580px;
  height: 580px;
  max-height: 580px;
  display: none;
  position: relative;
}

.slide.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myCircle {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 115% 140% 135% 110%/125% 145% 110% 125%;
  z-index: 100;
}

.slide__imgwrapper {
  width: 560px;
  height: 560px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.slide:hover {
  cursor: pointer;
}

.slide__imgwrapper__component {
  width: 100%;
  height: auto;
  z-index: 1010;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.473));
}

.layerOnTop {
  width: 80%;
  height: 80%;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
}

.layerOnTop:hover {
  cursor: pointer;
}

/* - - - - Herbs & Spices - - - - */
#herbs-text {
  width: 32%;
  transform: translateY(10%);
}

/* - - - - Nuts & Dried Fruits - - - - */
#nuts-text {
  width: 60%;
  transform: translateY(-15%);
}

/* - - - - Sea Products - - - - */

#sea-text {
  width: 50%;
  transform: translateY(-140%);
}

#sea__image {
  align-self: flex-end;
  width: 90%;
}

/* - - - - honey Products - - - - */

#honey-text {
  width: 75%;
  top: 30%;
  transform: translateX(-5%);
}

#honey-image {
  transform: translateX(-20px);
}

/* - - - - animal Products - - - - */

#animals-text {
  width: 35%;
  translate: -60% -180px;
}

/* - - - - cookie Products - - - - */

#cookie-text {
  width: 45%;
  top: 47%;
}

/* - - - - Media Queries - - - - */

@media screen and (max-width: 750px) {
  .container {
    height: 85vh;
  }
  .container::after {
    content: "";
    background-color: white;
    width: 100%;
    height: 43vh;
    position: absolute;
    left: 0;
    bottom: -1%;
    z-index: 0;
  }
  .circle {
    width: 210px;
    height: 210px;
  }
  .text {
    width: 30%;
    z-index: 6;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
  .slider {
    width: 290px;
    height: 290px;
  }
  .slide {
    width: 290px;
    height: 290px;
  }

  .slide__imgwrapper {
    width: 100%;
    height: 100%;
  }
  .slide__imgwrapper__component {
    width: 80%;
  }

  .bar__wrapper {
    width: 250px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 300px;
    left: 50%;
    translate: -50% 0;
  }
  .dot__wrapper {
    position: static;
  }

  .dot {
    width: 8px;
    height: 8px;
  }

  #bar {
    display: none;
  }

  /* - - - - Herbs & Spices - - - - */

  #herbs-text {
    width: 26%;
    transform: translateY(10%);
  }

  /* - - - - Animal Products - - - - */

  #animals-text {
    width: 29%;
    transform: translateY(260%);
  }

  /* - - - - Nuts Products - - - - */

  #nuts-text {
    width: 45%;
  }

  /* - - - - Sea Products - - - - */

  #sea-text {
    width: 35%;
    transform: translateY(-140%);
  }

  #sea__image {
    width: 70%;
    transform: translateY(-25%);
  }

  /* - - - - Honey Products - - - - */

  #honey-text {
    width: 45%;
    top: 30%;
  }

  /* - - - - Cookie Products - - - - */

  #cookie-text {
    width: 35%;
    top: 50%;
  }

  #circle-left,
  #circle-middle {
    width: 40px;
    height: 40px;
    display: none;
  }

  #circle-left {
    left: 15%;
    top: 35%;
  }

  .thumb-container {
    transform: none;
    transform-origin: middle center;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    translate: 0 290px;
  }

  .thumb {
    left: 7%;
  }
}
